{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: inline-block;border: 1px solid black; width:300px; height:400px">
        Je suis la div de la vue 1
    </div>


    {# possibilté d'ajouter des parametres  #}
    <div style="display: inline-block; float:right;border: 1px solid black; width:300px; height:400px">
        contenu dynamique <br/>
        {{ render (controller ('App\\Controller\\EmbedVueController::donnesDynamique', {'nombreVilles': 2}))
        }}  

    </div>

{% endblock %}