{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: inline-block; border: 1px solid black; width:300px; height:400px">
        Je suis la div de la vue 2
    </div>

    <div style="display: inline-block; float:right;border: 1px solid black; width:300px; height:400px">
        contenu dynamique <br/>
        {{ render (controller ('App\\Controller\\EmbedVueController::donnesDynamique', {'nombreVilles': 3}))
        }}  

    </div>

{% endblock %}