{% extends 'base.html.twig' %}

{% block title %}
    Chuck Norris | ONE
{% endblock %}

{% block body %}
<p>Je suis la vue <strong>1</strong><p/>

<div style="background-color:lightblue">
    {{ render (controller('App\\Controller\\ChuckNorrisAPIController::afficheFromApi', {'nbBlagues':4}))}}
</div>
{% endblock %}

