{% extends 'base.html.twig' %}

{% block title %}
    Chuck Norris | TWO
{% endblock %}

{% block body %}
<p>Je suis la vue <strong>2</strong><p/>

<div style="background-color:orange">
    {{ render (controller('App\\Controller\\ChuckNorrisAPIController::afficheFromApi', {'nbBlagues':7}))}}
</div>
{% endblock %}