{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

    {% block action %}
        <H2>action clients</h2>
    {% endblock %}

    List of clients:
    <ul>
       {% for client in clients %}
            <li>{{client}}</li>
       {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    <script>
        console.log("clients");

        setTimeout(function() {
            console.log("yihaa!");
        }, 3000);
    </script>
{% endblock %}


