{% extends 'base.html.twig' %}

{% block title %}Hello Chuky!{% endblock %}

{% block body %}

<h2>Service faisant appel à API Chuky</h2>

<ol>
    <li style="padding: 2vw">{{joke}}</li>
</ol>

{% endblock %}
